<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Product List</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />

</head>
  <body>
    <h1>Products</h1>
<ul>
    {% for product in products %}
    
        <li>
          <h2>{{ product.name }}</h2>
        <p>{{ product.description }}</p>
        <p>{{ product.price }}</p>
        <img src="{{ product.image.url}}" alt="{{product.name}}">
        {% comment %} <p>Available:{{products.available yesno:"Yes,no"}}</p>  {% endcomment %}
        

        </li>
    {% endfor %}
    </ul>
    {% comment %} <a href ="{% url 'product_detail'%}" class="back-link" >Back to product details</a> {% endcomment %}

</body>
</html>